<div class="row">
    
    <div class="col-xs-2"><img ng-src="{{member.image}}" class="img-responsive image" alt="{{member.firstName}}"></div>
    
    <div class="col-xs-10">
        <div class="row">{{member.firstName}} {{member.lastName}}, {{member.basedIn}}</div>
        <div class="row">{{member.bio}}</div>
        <div class="row">
            <a href="{{member.linkedin}}"><i class="fa fa-linkedin-square socialIcons fa-lg" aria-hidden="true"></i></a>
            
        </div>
        
        <div class="row"><p></p></div>
    </div>
    
</div>
            
           
