<div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10 well well-style">
        <div class="row">
            <div class="col-xs-4"><img ng-src="{{$ctrl.image}}" class="img-rounded img-responsive"></div>
            <div class="col-xs-8">
                <div class="row"><strong>{{$ctrl.project.name}}</strong></div>
                <div class="row">{{$ctrl.project.description}}</div>
                <div class="row">Tehcnology used: 
                    <div ng-repeat="technologies in $ctrl.project.technologies" project="project"> {{technologies}} </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-xs-1"></div>
</div>