.nav-logo{
    max-height: 100%;
    max-width: 100%;
}

body{
    color: #696868;
}

#nav-bar{
    background-color: #c3c3c3;
}

h1{
    text-align: center;
}

.well-style{
    background-color: #c3c3c3;
}