<html>
<head>
    <title>TranscendApps</title>
     <meta charset="UTF-8"> 
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/fopipippnt-awesome.min.css" rel="stylesheet" />
        <script src="https://use.fontawesome.com/da0aa3ee32.js"></script>
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;lang=en" />
        <link rel="stylesheet" type="text/css" href="projectStyle.css">
        <script src="projectApp.js"></script>
        <script src="imageService.js"></script>
        <script src="projectNameFilter.js"></script>
        <script src="portfolioService.js"></script>
        <script src="projectsController.js"></script>
        <script src="projectDetailsController.js"></script>
        
    </head>

    <body ng-app="project">
        <content ng-controller="ProjectsController as $ctrl">
        <nav id ="nav-bar" class="navbar navbar-default navbar-static-top">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#"><img class="nav-logo" src="images/LogoIcon.png"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              
              <form class="navbar-form navbar-left">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
              </form>
             
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
        
    
    
            <content>
                <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4"><h1>Projects</h1></div>
                    <div class="col-sm-4"></div>
                </div>
                <project-details ng-repeat="project in $ctrl.projects | projectNameFilter: $ctrl.searchFilter" project="project">
                </project-details>
            </content>
        </content>
        
        
    </body>
</html>