/* colour palette: http://paletton.com/palette.php?uid=12P0u0keMFF4%2BWWa2Ppj1vImWrE */

footer {
            width: 100%;
            bottom: 0;
            position: relative;
        }

.image{
    max-height: 50px;
}

body{
    overflow-x: hidden;
    background-color: #FFFFFF;
    font-family: "Open Sans";
    color: dimgrey;
    overflow-x: hidden;
}

a{
    color: #FFFFFF;
}

.fa{
    margin-top: 0.3em;
}

.logo{
    max-height: 100%;
    max-width: 100%;
    min-height: 5%;
    min-width: 100%;
    padding-top: 0%;
}

.flex-container{
    display: flex;
}

.links-flex{
    flex: auto;
    text-align: center;
}


#header{
    max-height: 100%;
    height: auto;
    width: auto;
/*    background-color: #c3c3c3;*/
}

#aboutUs{
/*    padding-top: 5%;*/
    font-family: "Open Sans";
    margin-bottom: 2%;
    
}

#whatWeDo{
    margin-bottom: 0%;
    background: #ffffff;
    padding-bottom: 2%;
}

.summaryFont{
    font-family: "Open Sans";
    color: #989898;
    font-size: 20;
}

#teamHeading{
    padding: 0%;
    text-align: center;
    }


#whatWeDo{
/*    background-color: #FFFFFF;*/
/*    padding: 5%;*/
    margin-bottom: :0%;
}

.whatWeDoStyle{
    height: 20%;
    text-align: center;
    background-color: #f5f5f5;
    border-radius: 25px;
    color: #989898;

}

.listItems{
    text-align: left;
}

.gradient {
  background: white; /* For browsers that do not support gradients */
  /* Safari 5.1 to 6.0 */
  background: -webkit-repeating-linear-gradient(#696868, #696868, #989898, #989898, #989898, #c3c3c3);
  /* Opera 11.1 to 12.0 */
  background: -o-repeating-linear-gradient(#696868, #696868, #989898, #989898, #989898, #c3c3c3);
  /* Firefox 3.6 to 15 */
  background: -moz-repeating-linear-gradient(#696868, #696868, #989898, #989898, #989898, #c3c3c3);
  /* Standard syntax */
  background: repeating-linear-gradient(#696868, #696868, #989898, #989898, #989898, #c3c3c3);
}

.socialIcons{
    background-color: #52CA52;
    color: #FFFFFF;
}